<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBse_bffW7Nju3cjws_5LNFn1lE9eEd274</string>
	<key>GCM_SENDER_ID</key>
	<string>689589782059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kitaab.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookrent-18af7</string>
	<key>STORAGE_BUCKET</key>
	<string>bookrent-18af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689589782059:ios:33f91309ce3b757df90c6e</string>
</dict>
</plist>